In [14]:
!pip install numpy
!pip install pandas
!pip install sklearn

Requirement already satisfied: numpy in /Users/alessiaciatti/opt/anaconda3/lib/python3.8/site-packages (1.20.1)
Requirement already satisfied: pandas in /Users/alessiaciatti/opt/anaconda3/lib/python3.8/site-packages (1.2.4)
Requirement already satisfied: python-dateutil>=2.7.3 in /Users/alessiaciatti/opt/anaconda3/lib/python3.8/site-packages (from pandas) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in /Users/alessiaciatti/opt/anaconda3/lib/python3.8/site-packages (from pandas) (2021.1)
Requirement already satisfied: numpy>=1.16.5 in /Users/alessiaciatti/opt/anaconda3/lib/python3.8/site-packages (from pandas) (1.20.1)
Requirement already satisfied: six>=1.5 in /Users/alessiaciatti/opt/anaconda3/lib/python3.8/site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Collecting sklearn
  Downloading sklearn-0.0.tar.gz (1.1 kB)
Requirement already satisfied: scikit-learn in /Users/alessiaciatti/opt/anaconda3/lib/python3.8/site-packages (from sklearn) (0.24.1)
Requirement already satisfied: joblib>=0.11 in /Users/alessiaciatti/opt/anaconda3/lib/python3.8/site-packages (from scikit-learn->sklearn) (1.0.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in /Users/alessiaciatti/opt/anaconda3/lib/python3.8/site-packages (from scikit-learn->sklearn) (2.1.0)
Requirement already satisfied: scipy>=0.19.1 in /Users/alessiaciatti/opt/anaconda3/lib/python3.8/site-packages (from scikit-learn->sklearn) (1.6.2)
Requirement already satisfied: numpy>=1.13.3 in /Users/alessiaciatti/opt/anaconda3/lib/python3.8/site-packages (from scikit-learn->sklearn) (1.20.1)
Building wheels for collected packages: sklearn
  Building wheel for sklearn (setup.py) ... done
  Created wheel for sklearn: filename=sklearn-0.0-py2.py3-none-any.whl size=1316 sha256=0e1f4f6c23849ae90a021a8f32ab31d15a3ba270522f410105b40f732882662b
  Stored in directory: /Users/alessiaciatti/Library/Caches/pip/wheels/22/0b/40/fd3f795caaa1fb4c6cb738bc1f56100be1e57da95849bfc897
Successfully built sklearn
Installing collected packages: sklearn
Successfully installed sklearn-0.0

## Carico il dataset fornito Placement_Data_Full_Class.train.csv

In [21]:
import pandas as pd
dataframe = pd.read_csv("./Placement_Data_Full_Class.train.csv")
dataframe.head()

,status,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,salary
0,Not Placed,M,52.0,Central,62.0,Central,Commerce,54.0,Comm&Mgmt,No,72.00,Mkt&HR,55.41,NaN
1,Placed,M,70.0,Central,63.0,Others,Science,70.0,Sci&Tech,Yes,55.00,Mkt&Fin,62.00,300000.0
2,Placed,M,73.0,Central,78.0,Others,Commerce,65.0,Comm&Mgmt,Yes,95.46,Mkt&Fin,62.16,420000.0
3,Placed,M,67.0,Others,63.0,Central,Commerce,72.0,Comm&Mgmt,No,56.00,Mkt&HR,60.41,225000.0
4,Placed,M,80.6,Others,82.0,Others,Commerce,77.6,Comm&Mgmt,No,91.00,Mkt&Fin,74.49,400000.0

# Splitto i dati di test in due file csv denominati rispettivamente train.csv e test.csv

Per avere un'anteprima dei file che andr√≤ a generare mi genere un output grazie alla funzione head()

In [22]:
from sklearn.model_selection import train_test_split
y = dataframe['status'].copy()
X = dataframe.drop("status",axis=1).copy()

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [23]:
train = X_train.join(y_train)
train.head()

,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,salary,status
44,M,77.67,Others,64.89,Others,Commerce,70.67,Comm&Mgmt,No,89.0,Mkt&Fin,60.39,300000.0,Placed
80,M,84.20,Central,69.40,Central,Science,65.00,Sci&Tech,Yes,80.0,Mkt&HR,52.72,255000.0,Placed
107,M,52.00,Others,55.00,Others,Commerce,56.30,Comm&Mgmt,No,59.0,Mkt&Fin,64.74,NaN,Not Placed
98,M,63.00,Central,60.00,Central,Commerce,57.00,Comm&Mgmt,Yes,78.0,Mkt&Fin,54.55,204000.0,Placed
169,F,60.23,Central,69.00,Central,Science,66.00,Comm&Mgmt,No,72.0,Mkt&Fin,59.47,230000.0,Placed

In [24]:
test = X_test.join(y_test)
test.head()

,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,salary,status
54,M,52.0,Others,50.0,Others,Arts,61.0,Comm&Mgmt,No,60.0,Mkt&Fin,58.52,NaN,Not Placed
146,M,78.5,Central,65.5,Central,Science,67.0,Sci&Tech,Yes,95.0,Mkt&Fin,64.86,280000.0,Placed
63,M,62.0,Central,72.0,Central,Commerce,65.0,Comm&Mgmt,No,67.0,Mkt&Fin,56.49,216000.0,Placed
55,M,51.0,Central,44.0,Central,Commerce,57.0,Comm&Mgmt,No,64.0,Mkt&Fin,51.45,NaN,Not Placed
125,F,55.0,Central,67.0,Central,Commerce,64.0,Comm&Mgmt,No,60.0,Mkt&Fin,67.28,NaN,Not Placed

In [25]:
train.to_csv("train.csv",index=False)
print("Salvataggio del file train.csv")

Salvataggio del file train.csv

In [26]:
test.to_csv("test.csv",index=False)
print("Salvataggio del fine test.csv")

Salvataggio del fine test.csv